.slick-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 80px 20px;
  box-sizing: border-box;
}

.slick-slide {
  padding: 5em;
}
.slick-slide div {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-slide:not(.slick-active) {
  position: relative;
  z-index: 997;
}
.slick-slide.slick-active:not(.slick-current) {
  position: relative;
  z-index: 998;
  transform: scale(1.2);
  transition: 0.25s;
}
.slick-slide.slick-active.slick-current {
  position: relative;
  z-index: 999;
  transform: scale(1.4);
  transition: 0.25s;
}

/* dots */

.slick-dots {
  bottom: 50px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "Ե";
  text-align: center;

  opacity: 0.25;
  color: rgb(255, 255, 255);
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .slick-slide {
    padding: 3em;
  }

  .slick-slider {
    padding: 0 20px 50px 20px;
  }
}
