.PictureDictionary {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 40px 20px 20px 20px;
  padding: 0 50px 0 50px;
}

.greetings {
  margin: 0 0 40px 0;
  font-size: 40px;
  text-align: center;
}
