.header.MuiAppBar-root {
  background-color: #9b1534;
  padding: 15px 0;
}

.header-nav-btn {
  color: #fff;
  text-decoration: none;
}

.page-buttons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .page-buttons {
    display: none;
  }
}
