.PictureCard img {
  object-fit: contain;
}

.PictureCard {
  height: 350px;
  width: 400px;
  /* border: 5px solid #000; */
}

.PictureCard img {
  height: 40%;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .PictureCard {
    height: 200px;
    width: 200px;
  }

  .PictureCard p {
    font-size: 8px;
    margin: 0;
  }

  .PictureCard h5 {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .PictureCard img {
    height: 100px;
    margin: 0;
  }
}
