.PictureCard {
  height: 350px;
  width: 400px;
}

.PictureCard img {
  height: 30%;
  object-fit: contain;
}

.line-break {
  display: none;
}

.MuiTouchRipple-root {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .PictureCard {
    height: 220px;
    width: 220px;
  }

  .PictureCard p {
    font-size: 8px;
    margin: 0;
  }

  .PictureCard h5 {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .PictureCard img {
    height: 30%;
    padding-top: 20px;
  }

  .line-break {
    display: block;
  }

  .card-content {
    display: flex;
    align-items: flex-start !important;
  }
}
