.sidebar.MuiAppBar-root {
  background-color: #9b1534;
  padding: 15px 0;
}

.sidebar-nav-btn {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
}

.page-buttons {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .page-buttons {
    display: none;
  }

  .sidebar-nav-btn {
    color: #000;
  }
}
