.page-buttons a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.page-buttons {
  display: flex;
  flex-direction: row;
}

.to-page-button {
  padding: 0 10px 0 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .page-buttons {
    display: none;
  }
}
